@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<h1> @ViewData["Greeting"]</h1>



<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>this is from github action in effect, one more time</a>.</p>

   
</div>
<form method="post">
    <button type="submit" asp-page-handler="Click">Click Me</button>
</form>

<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Id</th>
            <th>FirstName</th>
            <th>LastName</th>
            <th>BirthDate</th>
            <th>HireDate</th>
            <th>Salary</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var emp in Model.EmployeeList)
        {
            <tr>
                <td>@emp.Id</td>
                <td>@emp.FirstName</td>
                <td>@emp.LastName</td>
                <td>@emp.BirthDate</td>
                <td>@emp.HireDate</td>
                <td>@emp.Salary</td>
            </tr>
        }
    </tbody>
    </table>

<p>@Model.ErrorMessage</p>